extends  ./index

block content
  .container-lg#div-container
    div.content-title
      h1.content-title-text= folder.name
    .row.mt-4.mb-2.mx-0
      .col-12.px-0#button-new
        a(href=`/note/create/${folder._id}` class="button  button-primary" type="button" ) 
          <i class="fas fa-plus"></i> New Note
      .col-12.px-0#carpeta-container
        table.table.table-responsive
          thead
            tr
              th(scope="col" class="table-th text-color") Name
              th(scope="col" class="table-th table-th-web text-color") Owner
              th(scope="col" class="table-th table-th-web text-color") Creation date
              th(scope="col" class="table-th table-th-action text-color") Action
            
          tbody
            if(folders)
              each file in files
                tr.text-color.table-tr-hover
                  td.table-td(onclick=`goToFolder('${folder._id}')`)
                    div.d-flex.justify-content-start
                      <i class="fas fa-folder table-td-icon"></i>
                      span= folder.name
                  td.table-td.table-td-web(onclick=`goToFolder('${folder._id}')`) Yo
                  td.table-td.table-td-web(onclick=`goToFolder('${folder._id}')`) 17-05-2021
                  td.table-td
                    <i class="fas fa-ellipsis-v table-td-icon"></i>

            else 
              tr 
                td(colspan="3" class="border-bottom-0") 
                  h4(class="text-color text-center border-none mt-4") No files found