extends  ../layout/layout

block  header 
  include ../partials/header

block  footer 
  //- include ../templates/footer 

block script
  script(src="/public/js/menuResponsive-function.js") 

block main 
  include ./mixins
  main 
    div.row.mx-0.main-container 
      div#sidebar-back(onclick="menuResponsive()")
      div#sidebar 
        div#menures-sidebar
          <i class="fas fa-bars menures-option" onclick="menuResponsive()"></i>

        block buttonNew
          +buttonNew('0')

        ul.sidebar-ul
          li
            a(href="/mydrive").sidebar-link.sidebar-link-active
              <i class="far fa-folder-open me-3"></i> My unit
          li
            a(href="/shared-with-me").sidebar-link
              <i class="fas fa-user-friends me-3"></i>Shared with me
          li
            a(href="").sidebar-link
              <i class="far fa-clock me-3"></i>Recent
          li
            a(href="").sidebar-link
              <i class="far fa-star me-3"></i>Highlights
          li
            a(href="").sidebar-link
              <i class="far fa-trash-alt me-3"></i>Paper bin

          
      div#content 
        div#menures
          //- span.menu-responsive-option 
          <i class="fas fa-bars menures-option menures-option-width" onclick="menuResponsive()"></i>
          input(type="text" class="form-control menures-search")

        block content
          .container-lg#div-container
            div.content-title
              h1.content-title-text My unit
            .row.mt-4.mb-2.mx-0 
              .col-12.px-0#carpeta-container
                //- each folder in folders
                //-   a(class="carpeta" href=`/note/all-notes/${folder._id}`)  
                //-     span.carpeta-titulo= folder.name
                table.table.table-responsive
                  thead
                    tr
                      th(scope="col" class="table-th text-color") Name
                      th(scope="col" class="table-th table-th-web text-color") Owner
                      th(scope="col" class="table-th table-th-web text-color") Creation date
                      th(scope="col" class="table-th table-th-action text-color") Action
                    
                  
                  tbody
                    if((folders && folders.length) || (notes && notes.length))
                      each folder in folders
                        tr.text-color.table-tr-hover
                          td.table-td(onclick=`goToFolder('${folder._id}')`)
                            div.d-flex.justify-content-start
                              <i class="fas fa-folder table-td-icon"></i>
                              span= folder.truncateName()
                          td.table-td.table-td-web(onclick=`goToFolder('${folder._id}')`) Yo
                          td.table-td.table-td-web(onclick=`goToFolder('${folder._id}')`) 17-05-2021
                          td.table-td
                            <i class="fas fa-ellipsis-v table-td-icon"></i>

                      each note in notes
                        tr.text-color.table-tr-hover
                          td.table-td(onclick=`goToDetail('${note._id}')`)
                            div.d-flex.justify-content-start
                              <i class="fas fa-file-alt table-td-icon"></i>
                              span= note.truncateTitle()
                          td.table-td.table-td-web(onclick=`goToDetail('${note._id}')`) Yo
                          td.table-td.table-td-web(onclick=`goToDetail('${note._id}')`) 17-05-2021
                          td.table-td
                            <i class="fas fa-ellipsis-v table-td-icon"></i>
                        
                    else 
                      tr 
                        td(colspan="3" class="border-bottom-0") 
                          h4(class="text-color text-center border-none mt-4") No folders found

        block modal
          +modalNewFolder('0') 
  script. 
    function goToFolder(id){
      return window.location.href = '/folder/' + id;
    }

    function goToDetail(id){
      //- return window.location.href = '/note/detail/' + id;
      return window.open('/note/detail/'+ id, '_blank');
    }
    