mixin errors(errors , field)
  if( errors && errors[field])
    span.input-error-text=errors[field].message
  

mixin buttonNew(folderId)
  .droplog.buttonDiv.buttonDiv--left
    button(type="button"  class="button buttonDiv_new dropbutton-action" data-dropmenu="dropmenuButtonNew") 
      <i class="fas fa-plus me-2 dropbutton-hidden"></i>  New 
    div(id="dropmenuButtonNew").dropmenu.dropmenu--animated.dropmenu--t.dropmenu--l.dropmenu--bradius.modalNew-div
      .dropmenu__option.dropmenu-item(data-bs-toggle="modal" data-bs-target="#modalNewFolder")
        span.dropmenu__text.dropmenu-item.modalNew-folder-title  
          <i class="fas fa-folder icon--standar me-1"></i> Folder
      .dropmenu__option.dropmenu-item
        a(href=`/note/create/${folderId}` class="dropmenu__url dropmenu-item modalNew-note" target="_blank") 
          <i class="far fa-file-alt icon--standar me-1"></i> Note

mixin modalNewFolder(folderId)
  <div class="modal fade" id="modalNewFolder" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content modal-dark">
        <div class="modal-body p-4">
          div.d-flex.justify-content-between
            <h5 class="modal-title" id="exampleModalLabel">New Folder</h5>
            <button type="button" class="btn-close btn-close-dark" data-bs-dismiss="modal" aria-label="Close"></button>
          form(action=`/folder/create/${folderId}` method="POST" autocomplete="off").mt-4 
            div.mb-4  
              //- label(for="name" class="form-label text-white") Folder name:
              input(type="text" id="name" name="name" placeholder="Enter folder name" class="input-text input-text-medium "  required autofocus="autofocus" onfocus="this.select()")
            .mb-1.d-flex.justify-content-between 
              <button type="button" class="button button-transparent" data-bs-dismiss="modal" aria-label="Close">Cancel </button>
              <button type="submit" class="button button-primary">Create </button>
        </div>
      </div>
    </div>
  </div>



mixin modalChangeName(fileId, fileName , typeFile , modalId)
  div(class="modal fade" id=modalId tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true")
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content modal-dark">
        <div class="modal-body p-4">
          div.d-flex.justify-content-between
            <h5 class="modal-title" id="exampleModalLabel">Change Name</h5>
            <button type="button" class="btn-close btn-close-dark" data-bs-dismiss="modal" aria-label="Close"></button>
          if(typeFile=="folder") 
            form(action=`/folder/change-name/${fileId}` method="POST" autocomplete="off").mt-4
              div.mb-4  
                input(type="text" id="newName" name="newName" placeholder="Enter new name" class="input-text input-text-medium "  required autofocus="autofocus" value=fileName onfocus="this.select()")
              .mb-1.d-flex.justify-content-between 
                <button type="button" class="button button-transparent" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                <button type="submit" class="button button-primary">Accept</button>
          else
            form(action=`/note/change-name/${fileId}` method="POST" autocomplete="off").mt-4
              div.mb-4  
                input(type="text" id="newName" name="newName" placeholder="Enter new name" class="input-text input-text-medium "  required autofocus="autofocus" value=fileName onfocus="this.select()")
              .mb-1.d-flex.justify-content-between 
                <button type="button" class="button button-transparent" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                <button type="submit" class="button button-primary">Accept</button>
        </div>
      </div>
    </div>
