extends  ./index

block buttonNew
  +buttonNew(folderId)

block content
  .container-lg#div-container
    div.notaDetail
      div.notaDetail__title 
        input(type="text" class="input-text notaDetail__titletext" readonly="readonly" value=`${note.title}`)
          
      div.notaDetail__body  
        span.d-block  !{note.body}
    
      div.notaDetail__options
        a(href=`/folder/${note.folder_id}` class="notaDetail__button ")
          <i class="far fa-arrow-alt-circle-left  notaDetail__icon"></i>
        a(href=`/note/update/${note._id}` class="notaDetail__button ")
          <i class="fas fa-edit  notaDetail__icon"></i>
        a(onclick=`deleteNote('${note._id}' , '${note.folder_id}')` class="notaDetail__button ") 
          <i class="far fa-trash-alt  notaDetail__icon"></i>

block modal
  +modalNewFolder(folderId)

  style.
    .notaDetail{
      position : relative;
      margin-top : 10px;
      padding : 5px 15px;
    }

    .notaDetail__title{
      max-width : 94%;
      color : var(--text-color);
    }

    .notaDetail__titletext{
      font-size : 1.3rem;
      font-weight : 700; 

    }


    .notaDetail__body{
      width : 94%; 
      margin-top : 27px;
      padding-right : 28px;
      height : calc(100vh - 210px);
      overflow-y : auto;
      color  : var(--text-color)
    }

    .notaDetail__options{
      position : absolute;
      top : 8px;
      right:-5px; 
    }

    
    .notaDetail__button {
      height: 45px;
      width: 45px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #fff;
      border-radius: 100%;
      box-shadow : 0px 0px 4px rgba(0, 0, 0, 0.7);
    }

    .darkmode .notaDetail__button {
      background-color: rgb(41, 41, 41);  
    }

    .notaDetail__button:nth-child(n+2) {
      margin-top: 12px;
    }
    
    .notaDetail__button:hover {
      background-color: var(--icon-note-color);
    }

    .notaDetail__button:hover .notaDetail__icon {
      color: white;
    }

    .notaDetail__icon {
      color: var(--icon-note-color);
      font-size: 1.2rem;
    }
    
    
    @media (max-width: 991px) {
      .notaDetail{
        padding : 50px 5px 5px 5px;
        margin-top : 0;
      }

      .notaDetail__title{
        max-width : 100%;
      }

      .notaDetail__body{
        width : 100%; 
        height : calc(100vh - 290px);
        padding-right : 0;
      }
      .notaDetail__options {
          top: 0;
          right: -8px;
          display : flex;
      }

      .notaDetail__button:nth-child(n+2) {
        margin-top: 0;
        margin-left : 12px;
      }
    }

  script.
    function deleteNote(noteId , folderId){
      Swal.fire({
        title: '¿Are you sure you want to delete the note?',
        icon: 'error',

        showCancelButton: true,
        confirmButtonColor:  '#E74C3C',
        cancelButtonColor: '#3085d6',
        cancelButtonText : 'No',
        confirmButtonText: 'Yes, delete!',
        reverseButtons: true,
        background: '#181818',
        customClass: {
            title: 'text-color',
        }
      }).then((result) => {
          if (result.isConfirmed) {
            loadForm();
            fetch(`/note/delete/${noteId}`, {
              method: "DELETE"
            }).then(res => {
              return res.json();
            })
            .then( data => {
              if(data.flag){
                confirmMessage(data.msg)
                setTimeout( function(){
                  window.location= `/folder/${folderId}`
                },2500)
              }else{
                swalMessage('error',data.msg)
              }
            });
          } 
      })
    }


